<td>{{name}}</td>
<td>{{label}}</td>
<td>{{updated}}</td>
<td>{{user}}</td>
<td>
  <div class="controls">
    <a href="{{download}}" data-bypass="true" target="_blank" class="edit btn"><i class="icon-download"></i> Download</a>
    <a href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
  </div>
</td>