<div class="row">

    <div class="span5">
        <h3 class="zeta">Title</h3>
        <p class="gamma">{{title}}</p>

        <h3 class="zeta">Rolls</h3>
        <p class="gamma">{{rolls}}</p>

        <h3 class="zeta">Description</h3>
        <p>{{description}}</p>
    </div>

    <div class="span5">
        <h3 class="zeta">Starts</h3>
        <p class="delta">{{starts}}</p>

        <h3 class="zeta">Ends</h3>
        <p class="delta">{{ends}}</p>
    </div>

    <div class="span2">
        <a class="edit btn pull-right">Edit Details</a>
    </div>

</div>