<td>{{title}}</td>
<td>{{rolls}}</td>
<td>{{starts}}</td>
<td>{{ends}}</td>
<td>
  <div class="controls">
    <a data-budget-id="{{_id}}" href="/budget/{{_id}}" class="edit btn"><i class="icon-info-sign"></i> View Budget</a>
    <a data-budget-id="{{_id}}" href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
  </div>
</td>