<div class="head span12">

    <h1 class="pull-left">
        <a href="/budget/{{budget_id}}">{{budget_name}}</a>
        <small>{{proper_type}} {{line_number}}</small>
    </h1>

    <div class="pull-right">
        <ul class="pager pull-right">
            <li>
                <a title="Previous Line" href="/budget/{{budget_id}}/line/{{previous_id}}/{{type}}">&larr;</a>
            </li>
            <li></li>
            <li>
                <a title="Next Line" href="/budget/{{budget_id}}/line/{{next_id}}/{{type}}">&rarr;</a>
            </li>
        </ul>
    </div>

</div>

<div class="details span12">

    <table class="table pull-left table-highlight">
        <thead>
          <tr>
            <th>Line Numer</th>
            <th>Name</th>
            <th>Budget</th>
            <th>Actual</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{line_number}}</td>
            <td>{{name}}</td>
            <td>{{budget_total}}</td>
            <td>{{actual}}</td>
          </tr>
        </tbody>
    </table>

</div>