<td>{{parent_number}}.{{number}}</td>
<td>{{name}}</td>
<td>{{subtotal}}</td>
<td>0.00</td>
<td class="controls">
    <div>
        <a href="#" class="btn edit hide" rel="{{_id}}"><i class="icon-edit"></i> Edit Subline</a>
        <a href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
        <i class="icon-chevron-right"></i>
    </div>
</td>