<div class="pull-right">
  <ul class="nav nav-pills pull-right">
    {{#each sections}}
    <li class="{{name}} {{active name ../section}}">
      <a href="/budget/{{../budget_id}}/{{name}}">{{proper}}</a>
    </li>
    {{/each}}
  </ul>
</div>