<td>{{line_number}}</td>
<td>{{name}}</td>
<td>{{budget}}</td>
<td>{{actual}}</td>
<td class="hide controls">
  <div>
    <a class="btn view_line" href="budget/{{budget_id}}/line/{{_id}}/{{type}}"><i class="icon-info-sign"></i> View line</a>
    <button class="delete btn btn-danger"><i class="icon-trash icon-white"></i></button>
  </div>
</td>